/* color palette from <https://github.com/vuejs/theme> */
:root {
  --Nav-Height: 4rem;
  --is-dark: 0;
  --bg-color: var(--white);
  --outline-color: var(--dark);

  --white: white;
  --dark: #222;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0px;
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--bg-color);
  color: var(--outline-color);
  
}
